.stopwatch--button__animate::after {
  animation: click 200ms;
}

.stopwatch--button__animate::before {
  animation: click 200ms;
}

@keyframes click {
  0%,
  100% {
    transform: translate(-50%, 0%);
    animation-timing-function: cubic-bezier(0.15, 0.33, 0.4, 0.98);
  }

  50% {
    transform: translate(-50%, 50%);
    animation-timing-function: cubic-bezier(0.69, 0.3, 0.82, 0.62);
  }
}
